 <!DOCTYPE html>
<html>
    <head>
        <%- include('../../layouts/head'); -%>
    </head>

<body>
    <a href="../">home</a>
    <%- include("detail.ejs")%>
</body>
</html>

<!DOCTYPE html>
<html>